</div><!-- end main container from application.html.erb -->

  <section class="page-header">
    <h1 class="project-name">SCaster</h1>
    <h2 class="project-tagline">A complete Supply Chain Forecasting suite</h2>
    <a href="/signup" class="btn">SignUp</a>
    <a href="/login" class="btn">Login</a>
    <a href="" class="btn">Demo</a>
    
    <div style="margin-top:150px"><!-- Typing Animation -->
      <span class="element"></span>
    </div>
    
  </section>
  
  <script>
  $(function(){
      $(".element").typed({
        strings: [
          "SCaster is an open source Demand Forecasting suite.", 
          "It includes most Time Series, Causal and Regression based forecasting models.",
          "Modular back-end design allows any one to add their own models as the project evolves.",
          "Check out Github repository for more info !"
          ],
        typeSpeed: 20
      });
  });
  </script>

<div class="container"><!-- Restart the main container from application.html.erb -->