</div><!-- end main container from application.html.erb -->

  <section class="page-header">
    <h1 class="project-name">SCaster</h1>
    <h2 class="project-tagline">A complete Supply Chain Forecasting suite</h2>
    <a href="/signup" class="btn">SignUp</a>
    <a href="/login" class="btn">Login</a>
    <a href="" class="btn">Demo</a>
  </section>

<div class="container"><!-- Restart the main container from application.html.erb -->